<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="homeCtrl">
<head>
    {{home.title}}
   
	<meta charset="utf-8" />
</head>
<body>
    <div class="container">
     
        <table>
            <thead>
                <tr>
                    <th>BuyerId</th>
                    <th>ProductLookingFor</th>
                    <th>ContactPerson</th>
                    <th>Status</th>


                </tr>

            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>

    </div>
    
</body>
</html>
